:root{
    --main-bg-color: rgb(255,255,255);
    --blue-text: rgb(0,130,200);
    --gray-text: rgb(114,114,113);
    
    
}

@font-face {
    font-family: 'Corki';
    src: url('Corki.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Corki';
    color: var(--gray-text);
    
}






.header{
    text-transform: uppercase;
    background-color: #fff;
    height: 40px;
    font-size: 20pt;
    flex-grow: 0;
    flex-shrink: 0;
    
}
.menubar {
    display: flex;
    justify-content: space-between;
    
    
}


.menu {
    display: flex;
    list-style: none;
    margin-left: 20px;
    margin-bottom: 1px;
    margin-top: 10px;
}
.menu--item {
   margin-right: 10px;
   margin-bottom: 1px;
}
.account {
    display: flex;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 1px;

}
.account img{
    height: 25px;
    margin-right: 2px;
}
.logo {
    
    text-transform: uppercase;
    height: 100px;
    background:  radial-gradient(circle at top, rgb(233,253,251), #fff);
    display: flex;
    align-items: flex-end;


}

.logo img{
    height: 90px;
    margin-left: 290px;
    margin-right: 25px;
}

.logo h1{
    position:relative;
    color: var(--blue-text);
    font-size: 90px;
    font-weight: normal;
    height: 90px;
}

.logo h1:after{
    content: '';
    display: block;
    position: absolute;
    top: 95%;
    width: 47%;
    left: 0;
    border-bottom: 3px solid #EA5A2D;
}

.top{
    height: 675px;
    background: linear-gradient(to right, #fff, rgb(203,233,251), #fff);
    position: relative;
}
.right-img{
    position: absolute;
    right: 0;
    top: 1%;
    height: 350px;
}


.bottom-img{
    position: absolute;
    bottom: 1%;
    width: 1486px;
    overflow: hidden;
}
.arrow{
    width: 20px;
    height: 20px;
    border-top: 3px solid #EA5A2D;
    border-right: 3px solid #EA5A2D;
    transform: rotate(45deg);
}

.search {
    display: flex;
    height: 40px;
    margin: 40px 180px;
    margin-right: auto;
    align-items: center;
    
}

.search img{
    height: 30px;
    margin-right: 10px;
}

.search-input{
    border: 3px solid rgba(2, 71, 149, 1);
    border-radius: 7px;
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 10px;
    padding: 1px;
    display: flex;
    z-index: 1;
}

.search-field {
    width: 930px;
    border: 0; 
    font-size: 20px;
  }
  
  .search-field:focus {
    outline: none;
  }

.advertisment {
    width: 1140px;
    height: 200px;
    margin: 10px 180px;
    border: 3px solid rgba(2, 71, 149, 1);
    border-radius: 7px;
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 100px;
    display: flex;
    margin-right: 30px;
    align-items: center;
    justify-content: flex-end;

    
}
.chat {
    position: absolute;
    right: 0%;
    bottom: 5%;
    


}
.chat img{
    height: 320px;
}

.nav{
    position: absolute;
    left: 0;
    top: 26%;
}

.nav--item {
    display: flex;
    height: 100px;
    width: 150px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top: 3px solid rgba(2, 71, 149, 1);
    border-bottom: 3px solid rgba(2, 71, 149, 1);
    border-right: 3px solid rgba(2, 71, 149, 1);
    background:  rgb(233,253,251);
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.nav--item img{
    height: 80px;
}

